/* Estilos comunes */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Estilo por defecto */
.button.default {
  background-color: #007bff;
  color: white;
}

/* Botón de éxito */
.button.success {
  background-color: #28a745;
  color: white;
}

/* Botón de advertencia */
.button.warning {
  background-color: #ffc107;
  color: black;
}

/* Botón deshabilitado */
.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.open-modal-btn {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}