.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #1a202c;
  width: 100%;
  border-bottom: 1px solid #374151;

}

.header__logo {
  font-size: 2rem;
  font-weight: bold;
  color: #2563eb;
}

.header__buttons {
  display: flex;
  gap: 10px;
}