.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #374151;
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  max-width: 40%;
}

.banner__title {
  font-size: 3em;
  margin: 0;
  font-weight: bold;
  color: #00bcd4;
}

.banner__subtitle {
  font-size: 1.5em;
  font-weight: normal;
  margin: 10px 0;
  color: #fafafa;
}

/* Descripción */
.banner__description {
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
  font-weight: normal;
  color: #d4d4d4;
}


.banner__image {
  max-width: 50%;

}

.patron {
  opacity: 1;
  background-image: linear-gradient(#1e293b 0.9px, transparent 0.9px), linear-gradient(to right, #1e293b 0.9px, #1a202c 0.9px);
  background-size: 18px 18px;
}

@media (max-width: 768px) {

  /* Para pantallas pequeñas, la imagen se apilará encima del texto */
  .banner {
    flex-direction: column;
    text-align: center;
  }

  .banner__content {
    max-width: 100%;
  }

  .banner__image {
    max-width: 100%;
    margin-top: 20px;
  }
}